:root {
    --background-brightness: brightness(0.7);
    --board-bg-color: #ffffff95;
}
[data-user-color-scheme="dark"] {
    --background-brightness: brightness(0.5);
    --board-bg-color: #15172295;
}

#web_bg {
    filter: var(--background-brightness); 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}