#web_bg {
    filter: brightness(0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}