:root {
    --hbe-input-field-color: #818181;
    --hbe-input-label-color: #818181;
    --hbe-btn-bg-color: #dbdddf;
    --hbe-btn-bb-color: #818181;
}
[data-user-color-scheme="dark"] {
    --hbe-input-field-color: #a1a1a1;
    --hbe-input-label-color: #a1a1a1;
    --hbe-btn-bg-color: #353946;
    --hbe-btn-bb-color: #a1a1a1;
}


.hbe-input-field-shrink {
    color: var(--hbe-input-field-color) !important;
}

.hbe-input-label-shrink::after {
    height: 5px !important;
    background: var(--hbe-input-label-color) !important;
}
.hbe-input-label-content {
    font-size: 24px;
    color: var(--hbe-input-label-color) !important;
}

.hbe-button {
    color: var(--hbe-btn-color) !important;
    background: var(--hbe-btn-bg-color) !important;
    border-bottom-color: var(--hbe-btn-bb-color) !important;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
}
.hbe-button:hover {
    transform: translateY(-3px);
}
.hbe-button:after {
    border: 0 !important;
}