.markdown-body p > img,
.markdown-body p > a > img,
.markdown-body figure > img,
.markdown-body figure > a > img,
.page-content img, .post-content img {
    width: 70%; /* 强制宽度为页面的70% */
    height: auto; /* 保持图片比例 */
    display: block; 
    margin: 1rem auto; /* 居中对齐 */
    border-radius: 0.5rem;
}

.image-caption {
    margin: 1rem auto!important;
}

.markdown-body table {
    display: table !important;
    width: auto !important;
    margin: 1rem auto !important;
}